
.services li
{
	margin-bottom:6px;
}

/*font properties*/
@media screen and (max-width:640px)
{
	html._AF .achieveforms-container h1,
	.achieveforms-container header.formHeader .formName
	{
		font-size:32px;
	}
	
	html._AF .achieveforms-container h2
	{
		font-size:27px;
	}
	
	html._AF .achieveforms-container h3,
	.achieveforms-container .all-sections .field .fieldContent .fieldName legend._fieldName
	{
		font-size:21px;
	}
}

html._AF .achieveforms-container h1,
.achieveforms-container header.formHeader .formName
{
	font-size:48px;
	font-weight:700;
	color:#0b0c0c;
}

html._AF .achieveforms-container h2
{
	font-size:36px;
	font-weight:700;
	color:#0b0c0c;
}

html._AF .achieveforms-container h3,
.achieveforms-container .all-sections .field .fieldContent .fieldName legend._fieldName
{
	font-size:24px;
	font-weight:700;
	color:#0b0c0c;
}

.achieveforms-container .all-sections .field .fieldContent .fieldName legend._fieldName
{
	margin:0.2em 0;
	color:#0b0c0c;
}

.achieveforms-container .all-sections .fields .field .fieldContent .fieldName,
.achieveforms-container .all-sections .fields .field .fieldContent .fieldInput,
.achieveforms-container .fillinButtons .btn,
.achieveforms-container .all-sections .field .fieldContent .fieldInput .btn,
.achieveforms-container .all-sections .fields .field .fieldContent .fieldInput .checkbox-wrapper .checkbox-label,
.achieveforms-container .all-sections .fields .field .fieldContent .fieldInput .radio-wrapper .radio-label,
.achieveforms-container .all-sections .fields .field .fieldContent .error-wrapper .error
{
	font-size:19px;
	color:#0b0c0c;
}

.achieveforms-container .all-sections .fields .field .fieldContent .help-text
{
	font-size:19px;
	color:#505a5f;
}
/*end of font properties*/

/*field properties*/
.achieveforms-container .all-sections .fields .field .fieldContent input.fieldInput,
.achieveforms-container .all-sections .fields .field .fieldContent textarea.fieldInput,
.achieveforms-container .all-sections .fields .field .fieldContent select.fieldInput,
.achieveforms-container .all-sections .fields .field .fieldContent .fieldInput input.displayAsSeparated,
.achieveforms-container .all-sections .fields .field .fieldContent .fieldInput.valid input.displayAsSeparated,
.achieveforms-container .all-sections .fields .field .fieldContent fieldset.fieldInput.error input.displayAsSeparated
{
	border-radius:0;
	padding: 5px;
	border: 2px solid #0b0c0c;
	font-size:19px;
	height:40px;
}

.achieveforms-container .all-sections .fields .field .fieldContent input.fieldInput:focus,
.achieveforms-container .all-sections .fields .field .fieldContent textarea.fieldInput:focus,
.achieveforms-container .all-sections .fields .field .fieldContent select.fieldInput:focus,
.achieveforms-container .all-sections .fields .field .fieldContent .fieldInput input.displayAsSeparated:focus,
.achieveforms-container .all-sections .fields .field .fieldContent .fieldInput.valid input.displayAsSeparated:focus,
.achieveforms-container .all-sections .fields .field .fieldContent fieldset.fieldInput.error input.displayAsSeparated.day:focus,
.achieveforms-container .all-sections .fields .field .fieldContent fieldset.fieldInput.error input.displayAsSeparated.month:focus,
.achieveforms-container .all-sections .fields .field .fieldContent fieldset.fieldInput.error input.displayAsSeparated.year:focus
{
	outline: 3px solid #fd0;
	outline-offset: 0;
	box-shadow: inset 0 0 0 2px;
	transition:none;
}
/*end of field properties*/

/*prefix and suffix properties*/
.achieveforms-container .all-sections .fields .field .fieldContent input.fieldInput.hasCurrencyPrefix,
.achieveforms-container .all-sections .fields .field .fieldContent input.fieldInput.hasPrefix,
.achieveforms-container .all-sections .fields .field .fieldContent input.fieldInput.hasPostfix
{
	border-radius:0!important;
}

.achieveforms-container .all-sections .fields .field .fieldContent .prefix:not(.range-prefix)
{
	border: 2px solid #0b0c0c;
	border-right-width:0;
	border-radius:0;
	height:40px;
	padding:5px;
	font-size:19px;
	color:#0b0c0c;
	background-color:#f3f2f1;
	line-height:normal;
	text-align:center;
	vertical-align:middle;
	min-width:40px;
}

.achieveforms-container .all-sections .fields .field .fieldContent:not(.input-length-count):not(.textarea-length-count) .postfix:not(.range-postfix),
.achieveforms-container .all-sections .fields .field .fieldContent .input-length-count,
.achieveforms-container .all-sections .fields .field .fieldContent .textarea-length-count,
.achieveforms-container .all-sections .fields .field .fieldContent .input-length-count.error,
.achieveforms-container .all-sections .fields .field .fieldContent .textarea-length-count.error
{
	border: 2px solid #0b0c0c;
	border-left-width:0;
	border-radius:0;
	height:40px;
	padding:5px;
	font-size:19px;
	color:#0b0c0c;
	background-color:#f3f2f1;
	line-height:normal;
	text-align:center;
	vertical-align:middle;
	min-width:40px;
}
/*end of prefix and suffix properties*/

/*hide asterisk*/
.achieveforms-container .all-sections .fields .field .fieldContent .fieldName .mandatory
{
	display:none;
	visibility:hidden;
}
/*end of hide asterisk*/

/*button properties*/
.achieveforms-container .all-sections .field .fieldContent .fieldInput.button,
.achieveforms-container .all-sections .field .fieldContent .fieldInput .upload-button,
.achieveforms-container .fillinButtons .btn,
.achieveforms-container .all-sections .field .fieldContent .fieldInput .btn:not(.checkbox-label):not(.radio-label)
{
	background-color: #00703c;
	padding: 8px 10px 7px;
	border: 2px solid #0000;
	box-shadow: 0 2px 0 #002d18;
	line-height: 1;
	cursor: pointer;
	color: #fff;
	border-radius:0;
	transition:none;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput.button:focus,
.achieveforms-container .all-sections .field .fieldContent .fieldInput .upload-button:focus,
.achieveforms-container .fillinButtons .btn:focus,
.achieveforms-container .all-sections .field .fieldContent .fieldInput .btn:not(.checkbox-label):not(.radio-label):focus
{
	border-color: #fd0;
	color: #0b0c0c;
	background-color: #fd0;
	box-shadow: inset 0 0 0 1px #fd0;
	transition:none;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput.button:focus:not(:active):not(:hover),
.achieveforms-container .all-sections .field .fieldContent .fieldInput .upload-button:focus:not(:active):not(:hover),
.achieveforms-container .fillinButtons .btn:focus:not(:active):not(:hover),
.achieveforms-container .all-sections .field .fieldContent .fieldInput .btn:not(.checkbox-label):not(.radio-label):focus:not(:active):not(:hover)
{
	box-shadow: 0 2px 0 #002d18;
	transition:none;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput.button:hover,
.achieveforms-container .all-sections .field .fieldContent .fieldInput .upload-button:hover,
.achieveforms-container .fillinButtons .btn:hover,
.achieveforms-container .all-sections .field .fieldContent .fieldInput .btn:not(.checkbox-label):not(.radio-label):hover
{
	background-color: #005a30;
	color:#fff;
	transition:none;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput.button:active,
.achieveforms-container .all-sections .field .fieldContent .fieldInput .upload-button:active,
.achieveforms-container .fillinButtons .btn:active,
.achieveforms-container .all-sections .field .fieldContent .fieldInput .btn:not(.checkbox-label):not(.radio-label):active
{
	top:2px;
	position:relative;
	transition:none;
}
/*end of button properties*/

/*inset properties*/
.inset-element
{
	border-left:5px solid #b1b4b6;
	padding: 15px;
}

.inset-text
{
	border-left:10px solid #b1b4b6;
	padding: 15px;
}
/* end of inset properties*/

/*error message properties*/
.error-summary
{
	border: 5px solid #d4351c;
    padding: 20px;
}

.achieveforms-container .all-sections .fields .field .fieldContent .error-wrapper .error
{
	color:#d4351c;
	font-weight:700;
}

.achieveforms-container .all-sections .fields .field .fieldContent:has( .error-wrapper) .fieldInput.error:not(:focus),
.achieveforms-container .all-sections .fields .field .fieldContent:has( .error-wrapper) fieldset.fieldInput.error input.displayAsSeparated.day:not(:focus),
.achieveforms-container .all-sections .fields .field .fieldContent:has( .error-wrapper) fieldset.fieldInput.error input.displayAsSeparated.month:not(:focus),
.achieveforms-container .all-sections .fields .field .fieldContent:has( .error-wrapper) fieldset.fieldInput.error input.displayAsSeparated.year:not(:focus)
{
	border-color:#d4351c;
}

.achieveforms-container .all-sections .fields .field .fieldContent:not(:has( .subform)):has( .error-wrapper),
.achieveforms-container .all-sections .fields .field .fieldContent:has( .isRepeatable.subform):has( .error-wrapper)
{
	border-left:5px solid #d4351c;
	padding-left: 15px;
}
/*end of error message properties*/

/*hide tick*/
.achieveforms-container .all-sections .fields .field .fieldContent .icon-valid::before
{
	display:none;
	visibility:hidden;
}
/*end of hide tick*/

/*checkbox and radio properties*/
.achieveforms-container .all-sections .field .fieldContent .fieldInput.vertical .radio-wrapper:not(:has( .btn)),
.achieveforms-container .all-sections .field .fieldContent .fieldInput.vertical .checkbox-wrapper:not(:has( .btn))
{
	position:relative;
	margin-bottom:5px;
	transition:none;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput.horizontal .radio-wrapper:not(:has( .btn)),
.achieveforms-container .all-sections .field .fieldContent .fieldInput.horizontal .checkbox-wrapper:not(:has( .btn))
{
	position:relative;
	transition:none;
	display:inline-flex;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput .radio-wrapper input[type=radio]:not(:has(+.btn)),
.achieveforms-container .all-sections .field .fieldContent .fieldInput .checkbox-wrapper input[type=checkbox]:not(:has(+.btn))
{
	width:44px;
	height:44px;
	transition:none;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput .radio-wrapper .radio-label:not(.btn),
.achieveforms-container .all-sections .field .fieldContent .fieldInput .checkbox-wrapper .checkbox-label:not(.btn)
{
	padding:7px 15px;
	margin:0;
	align-self:center;
	transition:none;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput .radio-wrapper .radio-label:not(.btn)::before,
.achieveforms-container .all-sections .field .fieldContent .fieldInput.valid .radio-wrapper .radio-label:not(.btn)::before
{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 40px;
    height: 40px;
    border: 2px solid #0b0c0c!important;
    border-radius: 50%;
    background: #0000;
    max-width:none;
	transition:none;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput .checkbox-wrapper .checkbox-label:not(.btn)::before,
.achieveforms-container .all-sections .field .fieldContent .fieldInput.valid .checkbox-wrapper .checkbox-label:not(.btn)::before
{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 40px;
    height: 40px;
    border: 2px solid #0b0c0c!important;
    border-radius: 0;
    background: #0000;
    max-width:none;
	transition:none;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput .radio-wrapper .radio-label:not(.btn)::after
{
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 0;
    height: 0;
    border: 10px solid;
    border-radius: 50%;
    opacity: 0;
    background: #0b0c0c;
	transition:none;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput .checkbox-wrapper .checkbox-label:not(.btn)::after
{
    content: "";
    position: absolute;
    top: 13px;
    left: 10px;
    width: 23px;
    height: 12px;
	transform: rotate(-45deg);
    border:solid #0b0c0c;
    border-width: 0 0 5px 5px;
    opacity: 0;
	transition:none;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput .radio-wrapper input[type=radio]:focus+.radio-label:not(.btn)::before
{
	border-width: 4px!important;
	outline: 3px solid #0000;
	outline-offset: 1px;
	box-shadow: 0 0 0 4px #fd0;
	transition:none;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput .checkbox-wrapper input[type=checkbox]:focus+.checkbox-label:not(.btn)::before
{
	border-width: 4px!important;
	outline: 3px solid #0000;
	outline-offset: 1px;
	box-shadow: 0 0 0 3px #fd0;
	transition:none;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput .radio-wrapper input[type=radio]:checked+.radio-label:not(.btn)::after,
.achieveforms-container .all-sections .field .fieldContent .fieldInput .checkbox-wrapper input[type=checkbox]:checked+.checkbox-label:not(.btn)::after
{
	opacity:1;
	transition:none;
}
/*end of checkbox and radio properties*/

/*link properties*/
.achieveforms-container .all-sections .field .fieldContent .fieldInput:not(.advancedSelect) a
{
	text-decoration:underline;
	text-underline-offset:4px;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput:not(.advancedSelect) a:link
{
	color: #1d70b8;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput:not(.advancedSelect) a:visited
{
	color: #4c2c92;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput:not(.advancedSelect) a:hover
{
	color: #003078;
	text-decoration-thickness: 3px;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput:not(.advancedSelect) a:active
{
	color: #0b0c0c;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput:not(.advancedSelect) a:focus
{
	outline: 3px solid #0000;
	background-color: #fd0;
	box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
	text-decoration: none;
	color:#0b0c0c;
}
/*end of link properties*/

/*details and summary properties*/
.achieveforms-container .all-sections .field .fieldContent .fieldInput details summary
{
	color: #1d70b8;
	cursor: pointer;
	margin-bottom: 5px;
	width:-webkit-fit-content;
	width:-moz-fit-content;
}

.summary-text
{
	text-decoration:underline;
	text-underline-offset:4px;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput.html details summary:hover
{
	color: #003078;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput.html details summary:hover .summary-text
{
	text-decoration-thickness: 3px;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput.html details summary:focus
{
	outline: 3px solid #0000;
	background-color: #fd0;
	box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
	text-decoration: none;
	color:#0b0c0c;
}

.achieveforms-container .all-sections .field .fieldContent .fieldInput.html details summary:focus .summary-text
{
	text-decoration:none;
}
/*end of details and summary properties*/

/*exclamation mark properties*/
.exclamation
{
	font-weight: 700;
	display: inline-block;
	min-width: 35px;
	min-height: 35px;
	border: 3px solid #0b0c0c;
	border-radius: 50%;
	color: #fff;
	background: #0b0c0c;
	font-size: 30px;
	line-height: 29px;
	text-align: center;
}
/*end of exclamation mark properties*/
