.navbar { /*min-height:110px;*/ }

.navbar-brand { color:#fff !important; }
.navbar-brand:hover { text-decoration:underline; }

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse { 
 background-color:#106d86 !important;
 border-bottom:5px solid #13809D !important; 
}

#footer { min-height:75px; }
#footer a { color:#fff; }
#footer a:hover {  text-decoration:underline; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
 background-color:#106d86 !important;
 border-bottom:5px solid #13809D !important; 
}